.workout-container{

}

.background-thumb-image
{
  position: relative;
  overflow: hidden;


}

.workout-details{
  position: absolute;
   top: 200px;
   left: 0;
   z-index: 100;
  position: absolute;
}
